.chip {
  background: #0f3057;
  color: white;
  padding: .85rem;
  text-align: center;
  border-radius: 25px;
  font-size: .75rem;
  margin: .5rem; }
  .chip.white {
    background: white;
    color: #0f3057; }

.Cursor {
  padding-left: 1rem;
  vertical-align: middle;
  color: white;
  font-family: Helvetica, sans-serif;
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
