/* FONTS IMPORT */
@mixin font-face($name, $url, $weight, $style) {
    @font-face {
        font-family: $name;
        src: url($url) format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('open24', '../fonts/Open-24.ttf', normal, normal );
@include font-face('poppins', '../fonts/poppins/Regular.ttf', normal, normal );
@include font-face('poppins', '../fonts/poppins/Regular-Italic.ttf', normal, italic );
@include font-face('poppins', '../fonts/poppins/Black.ttf', bold, normal );
@include font-face('poppins', '../fonts/poppins/Black-Italic.ttf', bold, italic );

/* GLOBAL FONT STYLES */
p, .is-bold, strong, .is-italic, em, .content { font-family: poppins, sans-serif !important; }
.is-bold, strong { font-weight: bold !important; }
.is-italic, em { font-style: italic !important; }

.is-primary { color: rgb(15,48,87); }
.is-legend { color: #AAA; }

a { text-decoration: none;}
li { list-style-type: none;}

.typist {
    font-size: 3rem;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px rbga(0,0,0, .7);
    & > *:not(span) { font-family: open24; }
}