/* FONTS IMPORT */
@font-face {
  font-family: "open24";
  src: url("../fonts/Open-24.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Black-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

/* GLOBAL FONT STYLES */
p, .is-bold, strong, .is-italic, em, .content {
  font-family: poppins, sans-serif !important; }

.is-bold, strong {
  font-weight: bold !important; }

.is-italic, em {
  font-style: italic !important; }

.is-primary {
  color: #0f3057; }

.is-legend {
  color: #AAA; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

.typist {
  font-size: 3rem;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px rbga(0, 0, 0, 0.7); }
  .typist > *:not(span) {
    font-family: open24; }

/* GLOBAL LAYOUT STYLES */
::-moz-selection {
  background: #ee6f57;
  color: #f6f5f5; }

::selection {
  background: #ee6f57;
  color: #f6f5f5; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, #root, #app {
  min-height: 100vh; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #0087bd 0%, #0f3057 100%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#app {
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden; }

section.global-container {
  flex: 1; }

.container {
  width: 100%;
  height: 100%; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.is-flex, .container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center; }
  .is-flex.evenly, .container.evenly {
    justify-content: space-around; }
  .is-flex.evenly, .container.evenly {
    justify-content: space-evenly; }
  .is-flex.between, .container.between {
    justify-content: space-between; }
  .is-flex.start, .container.start {
    justify-content: start;
    align-content: start; }
  .is-flex.reverse, .container.reverse {
    flex-flow: row wrap-reverse; }
  .is-flex.cols, .container.cols {
    flex-flow: column nowrap; }

.noflex {
  flex: 0; }

.fullsize {
  width: 100%;
  height: 100%; }

.shadowed {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6); }

.spaced {
  padding: .5rem 1rem; }
  .spaced-lg {
    padding: 1rem 2rem; }

.chip {
  background: #0f3057;
  color: white;
  padding: .85rem;
  text-align: center;
  border-radius: 25px;
  font-size: .75rem;
  margin: .5rem; }
  .chip.white {
    background: white;
    color: #0f3057 !important; }
  .chip.xs {
    padding: .35rem;
    margin: 0; }

.Cursor {
  padding-left: 1rem;
  vertical-align: middle;
  color: white;
  font-family: Helvetica, sans-serif;
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
