@import '../../../mixins.scss';
@import '../../../variables.scss';

#skills {
    animation: bounceInRight .6s ease forwards .3s;
    opacity: 0;
    #skills-wrapper {
        @include flex;
        transition: transform .2s;
        width: 100vw;
        height: 100%;
        .card {
            width: 300px;
            height: 400px;
            border-radius: 8px;
            background: #FFF;
            transition: .2s;
            overflow: hidden;
            box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.4);
            z-index: 5;
            transition: .3s;
            &:hover {
                transform: translateY(.5rem);
                z-index: 10;
                box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.8);
            }
            header.header {
                padding: 1rem;
                h2 {
                    font-size: 1rem !important;
                    color: $primary;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    transition: .4s;
                }
            }
            section.card-content {
                transition: .6s;
                height: 325px;
                .skill {
                    color: $primary;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 1.5rem 1rem;
                    .skill-icon { transition: .4s; }
                    .skill-content {
                        align-items: flex-start;
                        display: flex;
                        flex-flow: column nowrap;
                        width: 70%;
                        h3 {
                            font-size: .85rem;
                            font-weight: 100;
                            color: $primary;
                            border-bottom: 1px solid $primary;
                        }
                        .infos {
                            margin-top: .5rem;
                            @include flex(row, flex-start);
                            p { font-size: .8rem; color: #444}
                            .icon-svg, svg {
                                height: 28px;
                                width: 28px;
                                margin-left: .5rem;
                                &.graduated svg { fill: $accent; }
                                &.pro svg { fill: #ad4747; }
                            }
                            
                        }
                    }
                }
                aside, .icon-svg, svg {
                    width: 48px;
                    height: 48px;
                }
            }
            &:hover .card-content {
                overflow-y: scroll;
            }
        }
        .card:focus-within~.card, .card:hover~.card { z-index: 20; }
        @media (min-width: 1581px) {
            &.hovered { transform: translateX(-50px); }
            .card { &:not(:first-child) { margin-left: -100px; } }
            .card:focus-within~.card, .card:hover~.card { transform: translateX(105px); }
        }
        @media (min-width: 1225px) and (max-width: 1580px) {
            &.hovered { transform: translateX(-125px); }
            .card { &:not(:first-child) { margin-left: -200px; } }
            .card:focus-within~.card, .card:hover~.card { transform: translateX(200px); }
        }
        @media (min-width: 981px) and (max-width: 1224px) {
            &.hovered { transform: translateX(-125px); }
            .card { &:not(:first-child) { margin-left: -200px; } }
            .card:focus-within~.card, .card:hover~.card { transform: translateX(205px); }
        }
        @media (min-width: 781px) and (max-width: 980px) {
            &.hovered { transform: translateX(-100px); }
            .card { width: 280px;}
            .card { &:not(:first-child) { margin-left: -200px; } }
            .card:focus-within~.card, .card:hover~.card { transform: translateX(201px); }
        }
    }
    @media (max-width: 780px) {
        padding-top: 2rem;
        align-items: flex-start;
        overflow: hidden;
        border-radius: 8px;
        #skills-wrapper {
            align-items: flex-start;
            height: calc(100vh - 150px) !important;
            width: 90%;
            max-width: 500px;
            overflow: hidden;
            border-radius: 8px;
            &.hovered { transform: translateY(-30px); }
            .card { 
                width: 100%; 
                height: 150px;
                &:hover { height: 400px;}
                &:not(:first-child) { margin-left: 0;  margin-top: -175px; }
            }
            .card:focus-within~.card, .card:hover~.card { transform: translateY(140px); }
        }
        
    }
}