.is-primary {
    color: rgb(15,48,87);
    &-bg {
        background: rgb(15,48,87);
        color: white;
    }
}
.is-white {
    color: #FFF;
    &-bg {
        background: #FFF;
        color: rgb(15,48,87);
    }
}
.is-legend {
    color: #777;
    &-bg {
        background: #777;
        color: #FFF;
    }
}