.is-primary {
  color: #0f3057; }
  .is-primary-bg {
    background: #0f3057;
    color: white; }

.is-white {
  color: #FFF; }
  .is-white-bg {
    background: #FFF;
    color: #0f3057; }

.is-legend {
  color: #777; }
  .is-legend-bg {
    background: #777;
    color: #FFF; }
