
.chip {
    background: #0f3057;
    color: white;
    padding: .85rem;
    text-align: center;
    border-radius: 25px;
    font-size: .75rem;
    margin: .5rem;
    &.white {
        background: white;
        color: #0f3057 !important;
    }
    &.xs {
        padding: .35rem;
        margin: 0;
    }
}

.Cursor {
    padding-left: 1rem;
    vertical-align: middle;
    color: white;
    font-family: Helvetica, sans-serif;
    animation-name: blinker;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.container {
    width: 100%;
    height: 100%;
}

.icon-svg {
    svg { fill: currentColor; width: 100%; }
    &.is-primary svg{fill: #0f3057 !important;}
}

img, .icon-svg {
    width: 100%;
    &.undefined { width: auto !important;}
    &.xxs { max-width: 24px; max-height: 24px; }
    &.xs { max-width: 32px; max-height: 32px; }
    &.sm { max-width: 64px; max-height: 64px; }
    &.md { max-width: 128px; max-height: 128px; }
    &.lg { max-width: 256px; max-height: 256px; }
    &.rounded { border-radius: 50%; }
}

ul.list {
    margin-bottom: .5rem;
    li{
        margin-top: .75rem;
        margin-left: 1.5rem;
        line-height: 2rem;
    }
    &.circle li { list-style-type: circle; }
    &.bolded li { font-weight: bold; }
}

.is-flex, .container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    &.evenly { justify-content: space-around; }
    &.evenly { justify-content: space-evenly; }
    &.between { justify-content: space-between; }
    &.start { justify-content: start; align-content: start;}
    &.reverse { flex-flow: row wrap-reverse; }
    &.cols {
        flex-flow: column nowrap;
    }
}

.noflex { flex: 0; }

.flexed { 
    flex: 1;
    &-2 { flex: 2; }
    &-3 { flex: 3; }
    &-4 { flex: 4; }
}

.fullwidth { width: 100%; }

.fullsize {
    width: 100%;
    height: 100%;
}

.halfwidth-md {
    max-width: 728px;
    @media screen and (min-width:760px) {
        width: 55%;
    }
}

.shadowed {
    box-shadow: 1px 2px 4px rgba($color: #000000, $alpha: .6);
}

.spaced {
    padding: 1rem 2rem;
    &-xs { padding: 0 .5rem; }
    &-lg { padding: 2rem 3rem; }
}

.colorless {
    filter: grayscale(1);
    transition: .6s;
    &:hover {
        filter: grayscale(0);
    }
}

.no-overflow { overflow: hidden; }

.construction {
    width: 40vw;
    min-width: 300px;
    margin: 2rem auto;
    h1 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: rgb(15,48,87)
    }
    p {
        padding: 1rem;
        color: #666;
        a { color: rgb(15,48,87); border-bottom: 2px solid rgb(15,48,87);}
    }
}