/* FONTS IMPORT */
@mixin font-face($name, $url, $weight, $style) {
    @font-face {
        font-family: $name;
        src: url($url) format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('open24', '../fonts/Open-24.ttf', normal, normal );
@include font-face('poppins', '../fonts/poppins/Regular.ttf', normal, normal );
@include font-face('poppins', '../fonts/poppins/Regular-Italic.ttf', normal, italic );
@include font-face('poppins', '../fonts/poppins/Black.ttf', bold, normal );
@include font-face('poppins', '../fonts/poppins/Black-Italic.ttf', bold, italic );

/* GLOBAL FONT STYLES */
p, .is-bold, strong, .is-italic, em, .content, h1, h2, h3, h4, h5 { font-family: poppins, sans-serif !important; }
.is-bold, strong { font-weight: bold !important; }
.is-italic, em { font-style: italic !important; }

a { text-decoration: none; color: currentColor;}
li { list-style-type: none; font-family: poppins, sans-serif !important; }

.Typist {
    font-size: 2.5rem;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rbga(0,0,0, .7);
    text-align: left;
    font-family: open24 !important;
}
p, li, a, em, strong {
    &.centered { text-align: center; }
    &.bolded { font-weight: bold; }
}
p.legend { font-style: italic; }