/* FONTS IMPORT */
@font-face {
  font-family: "open24";
  src: url("../fonts/Open-24.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "poppins";
  src: url("../fonts/poppins/Black-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

/* GLOBAL FONT STYLES */
p, .is-bold, strong, .is-italic, em, .content, h1, h2, h3, h4, h5 {
  font-family: poppins, sans-serif !important; }

.is-bold, strong {
  font-weight: bold !important; }

.is-italic, em {
  font-style: italic !important; }

a {
  text-decoration: none;
  color: currentColor; }

li {
  list-style-type: none;
  font-family: poppins, sans-serif !important; }

.Typist {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rbga(0, 0, 0, 0.7);
  text-align: left;
  font-family: open24 !important; }

p.centered, li.centered, a.centered, em.centered, strong.centered {
  text-align: center; }

p.bolded, li.bolded, a.bolded, em.bolded, strong.bolded {
  font-weight: bold; }

p.legend {
  font-style: italic; }

/* GLOBAL LAYOUT STYLES */
::-moz-selection {
  background: #ee6f57;
  color: #f6f5f5; }

::selection {
  background: #ee6f57;
  color: #f6f5f5; }

::-webkit-scrollbar {
  width: 5px; }

/* scrollbar width */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #000; }

/* Track */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: lightgray; }

/* Handle on hover */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, #root, #app {
  min-height: 100vh; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #0087bd 0%, #0f3057 100%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#app {
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden; }

.container {
  width: 100%;
  height: 100%; }

nav#main-nav {
  top: 0;
  position: absolute;
  width: 100%;
  background: #FFF;
  height: 50px;
  padding: 0 2rem;
  z-index: 500; }
  nav#main-nav h3 {
    font-size: 2rem; }
    nav#main-nav h3 span {
      max-width: 0;
      transition: all .6s ease;
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
      opacity: 0;
      margin-right: 5px; }
    nav#main-nav h3:hover span {
      max-width: 250px;
      opacity: 1; }
  nav#main-nav .links a.selected {
    font-weight: bold; }
  nav#main-nav .links li {
    margin: 0 1rem;
    font-size: 1.25rem; }

.chip {
  background: #0f3057;
  color: white;
  padding: .85rem;
  text-align: center;
  border-radius: 25px;
  font-size: .75rem;
  margin: .5rem; }
  .chip.white {
    background: white;
    color: #0f3057 !important; }
  .chip.xs {
    padding: .35rem;
    margin: 0; }

.Cursor {
  padding-left: 1rem;
  vertical-align: middle;
  color: white;
  font-family: Helvetica, sans-serif;
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

#app-logo {
  width: 80vw;
  max-width: 1024px;
  max-height: 40vh; }

h1#intro-typer {
  text-align: center;
  margin-top: 2rem;
  max-width: 720px;
  height: 130px; }
  @media screen and (max-width: 480px) {
    h1#intro-typer {
      font-size: 1.5rem; } }

#experience-table {
  align-content: start; }
  #experience-table .table-wrapper {
    height: 75vh;
    overflow: auto;
    padding-left: 3rem;
    animation: entrance 3s forwards ease; }
    #experience-table .table-wrapper li.card-wrapper {
      position: relative;
      width: 100%; }
      #experience-table .table-wrapper li.card-wrapper::before, #experience-table .table-wrapper li.card-wrapper::after {
        content: '';
        display: block;
        width: 5px;
        height: 27%;
        position: absolute;
        left: 0;
        background: white; }
      #experience-table .table-wrapper li.card-wrapper::before {
        top: 0; }
      #experience-table .table-wrapper li.card-wrapper::after {
        bottom: 0; }
      #experience-table .table-wrapper li.card-wrapper article.card {
        border-radius: 8px;
        padding: .25rem 1rem;
        margin: .85rem 2rem .85rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: #FFF;
        position: relative;
        max-height: 105px;
        transition: all 1.2s ease; }
        #experience-table .table-wrapper li.card-wrapper article.card aside.aside {
          position: absolute;
          left: -60px;
          top: 50%;
          color: white;
          width: 100px;
          transform: translate(-50%, -50%);
          text-align: center; }
        #experience-table .table-wrapper li.card-wrapper article.card section.card-content {
          width: 100%;
          opacity: 0;
          animation: fadeIn 1s forwards 2.5s; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content .header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-flow: row wrap; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content .header h5 {
              font-size: 1.8rem;
              color: #0f3057;
              font-family: 'poppins';
              flex: 1;
              text-align: left;
              letter-spacing: 1.5px; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content .location p {
            color: #333;
            padding-top: 5px;
            font-size: 1rem;
            text-align: right; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content .location p span {
              font-style: italic; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content .description {
            padding: .25rem .5rem;
            max-height: 0;
            overflow: hidden;
            transition: all 1.2s ease;
            text-justify: newspaper;
            opacity: 0; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content .description li {
              list-style-type: circle;
              padding-top: .5rem;
              padding-left: .5rem;
              margin-left: 1rem; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content footer {
            position: relative;
            top: -10px;
            display: flex;
            align-items: center;
            transition: all 1.2s ease;
            justify-content: flex-start; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content footer .keyword {
              margin-left: 1rem;
              color: #333; }
              #experience-table .table-wrapper li.card-wrapper article.card section.card-content footer .keyword:nth-of-type(1) {
                margin-left: 0; }
        #experience-table .table-wrapper li.card-wrapper article.card:hover {
          max-height: 350px; }
        #experience-table .table-wrapper li.card-wrapper article.card:hover .description {
          max-height: 250px !important;
          padding-bottom: 1rem !important;
          opacity: 1 !important; }
        #experience-table .table-wrapper li.card-wrapper article.card:hover footer {
          top: -5px !important; }
        #experience-table .table-wrapper li.card-wrapper article.card.accent {
          background: none;
          border: 2px solid white; }
          #experience-table .table-wrapper li.card-wrapper article.card.accent h5, #experience-table .table-wrapper li.card-wrapper article.card.accent p, #experience-table .table-wrapper li.card-wrapper article.card.accent span, #experience-table .table-wrapper li.card-wrapper article.card.accent li, #experience-table .table-wrapper li.card-wrapper article.card.accent strong, #experience-table .table-wrapper li.card-wrapper article.card.accent em {
            color: white !important; }

#presentation {
  border-radius: 0;
  overflow: hidden; }
  #presentation ul.react-tabs__tab-list {
    width: 100%;
    height: 40px;
    background: white;
    border: none;
    margin: 0;
    padding: 0 1.45rem;
    display: flex;
    align-items: center; }
    #presentation ul.react-tabs__tab-list li {
      font-size: .85rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      background: none;
      margin: 0 1rem;
      cursor: pointer; }
      #presentation ul.react-tabs__tab-list li.react-tabs__tab--selected {
        font-weight: bold;
        border: none; }
        #presentation ul.react-tabs__tab-list li.react-tabs__tab--selected:focus ::after {
          background: none; }
  #presentation .react-tabs__tab-panel--selected {
    width: 100%;
    height: 100%;
    max-width: 1024px; }
    #presentation .react-tabs__tab-panel--selected section.tabs .Typist {
      font-size: 3rem;
      color: white;
      width: 100%;
      padding: .5rem 2rem;
      font-family: open24;
      text-align: center; }
  #presentation .react-tabs__tab:focus {
    box-shadow: none;
    border: none; }
  #presentation .react-tabs__tab:focus::after {
    content: inherit; }

#skills {
  align-content: flex-start; }
  #skills .card-list {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    transition: .2s; }
    #skills .card-list:hover {
      transform: translateX(-69px); }
    #skills .card-list .card {
      width: 300px;
      height: 400px;
      border-radius: 8px;
      background: #FFF;
      transition: .2s;
      overflow: hidden;
      box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.6);
      z-index: 5; }
      #skills .card-list .card:not(:first-child) {
        margin-left: -105px; }
      #skills .card-list .card:hover {
        transform: translateY(2.5rem) scale(1.2);
        z-index: 10; }
      #skills .card-list .card header.header {
        padding: 1rem; }
        #skills .card-list .card header.header h2 {
          font-size: 1rem !important;
          color: #0f3057;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold; }
      #skills .card-list .card section.content {
        height: 325px;
        overflow-y: scroll; }
    #skills .card-list .card:focus-within ~ .card, #skills .card-list .card:hover ~ .card {
      transform: translateX(138px);
      z-index: 20; }
  #skills .skill {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1rem; }
    #skills .skill .content {
      align-items: flex-start;
      display: flex;
      flex-flow: column nowrap;
      width: 70%; }
      #skills .skill .content h3 {
        font-size: .85rem;
        font-weight: 100;
        color: #0f3057;
        border-bottom: 1px solid #0f3057; }
      #skills .skill .content .infos {
        margin-top: .5rem; }
        #skills .skill .content .infos p {
          font-size: .8rem; }
        #skills .skill .content .infos .icon-svg {
          height: 30px;
          margin-left: .5rem; }
          #skills .skill .content .infos .icon-svg.graduated svg {
            fill: #ffe05d; }
        #skills .skill .content .infos svg {
          fill: #777; }

#works {
  position: relative;
  width: 100%;
  height: 100%; }
  #works .quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.2);
    transition: .3s;
    z-index: 2; }
    #works .quarter:hover {
      background: rgba(0, 0, 0, 0.4); }
    #works .quarter:nth-of-type(1) {
      top: 0;
      left: 0; }
    #works .quarter:nth-of-type(2) {
      top: 0;
      left: 50%; }
    #works .quarter:nth-of-type(3) {
      top: 50%;
      left: 0; }
    #works .quarter:nth-of-type(4) {
      top: 50%;
      left: 50%; }
    #works .quarter header {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
    #works .quarter .content {
      display: none; }
    #works .quarter .close {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer; }
    #works .quarter.full {
      width: 100%;
      height: 100%;
      background: whitesmoke;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #works .quarter.full header {
        height: 60px; }
        #works .quarter.full header .Typist {
          color: #0f3057 !important; }
      #works .quarter.full .content {
        display: flex;
        flex-flow: column nowrap; }

.videos-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding: 0 1rem 0; }
  .videos-container .video-details, .videos-container .next {
    padding: 1rem;
    padding-top: .5rem; }
  .videos-container .video-details {
    width: 70vw; }
    .videos-container .video-details .screen {
      width: 60vw;
      max-width: 1280px;
      display: flex; }
      .videos-container .video-details .screen iframe {
        width: 70vw;
        height: 70vh;
        max-height: 60vh;
        margin: 0 auto; }
    .videos-container .video-details .infos {
      padding-top: 1rem; }
      .videos-container .video-details .infos h3 {
        font-size: 2.5rem;
        text-transform: uppercase; }
      .videos-container .video-details .infos p {
        padding: 0 1rem 0 1rem;
        max-height: 80px;
        overflow: auto; }
  .videos-container .next {
    height: 80vh;
    min-width: 25vw;
    overflow: scroll; }
    .videos-container .next .video-preview {
      margin: 0 0 02rem;
      cursor: pointer;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
      padding: .5rem; }
      .videos-container .next .video-preview .cover {
        width: 100%; }

@keyframes entrance {
  0% {
    overflow: hidden;
    height: 0;
    width: 100px; }
  50% {
    height: 80vh;
    width: 100px;
    overflow: hidden; }
  99% {
    overflow: hidden; }
  100% {
    width: 100%; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.icon-svg svg {
  fill: currentColor;
  width: 100%; }

.icon-svg.is-primary svg {
  fill: #0f3057 !important; }

img, .icon-svg {
  width: 100%; }
  img.undefined, .icon-svg.undefined {
    width: auto !important; }
  img.xxs, .icon-svg.xxs {
    max-width: 24px;
    max-height: 24px; }
  img.xs, .icon-svg.xs {
    max-width: 32px;
    max-height: 32px; }
  img.sm, .icon-svg.sm {
    max-width: 64px;
    max-height: 64px; }
  img.md, .icon-svg.md {
    max-width: 128px;
    max-height: 128px; }
  img.lg, .icon-svg.lg {
    max-width: 256px;
    max-height: 256px; }
  img.rounded, .icon-svg.rounded {
    border-radius: 50%; }

ul.list {
  margin-bottom: .5rem; }
  ul.list li {
    margin-top: .75rem;
    margin-left: 1.5rem;
    line-height: 2rem; }
  ul.list.circle li {
    list-style-type: circle; }
  ul.list.bolded li {
    font-weight: bold; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.is-flex, .container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center; }
  .is-flex.evenly, .container.evenly {
    justify-content: space-around; }
  .is-flex.evenly, .container.evenly {
    justify-content: space-evenly; }
  .is-flex.between, .container.between {
    justify-content: space-between; }
  .is-flex.start, .container.start {
    justify-content: start;
    align-content: start; }
  .is-flex.reverse, .container.reverse {
    flex-flow: row wrap-reverse; }
  .is-flex.cols, .container.cols {
    flex-flow: column nowrap; }

.noflex {
  flex: 0; }

.flexed {
  flex: 1; }
  .flexed-2 {
    flex: 2; }
  .flexed-3 {
    flex: 3; }
  .flexed-4 {
    flex: 4; }

.fullwidth {
  width: 100%; }

.fullsize {
  width: 100%;
  height: 100%; }

.halfwidth-md {
  max-width: 728px; }
  @media screen and (min-width: 760px) {
    .halfwidth-md {
      width: 55%; } }

.shadowed {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6); }

.spaced {
  padding: 1rem 2rem; }
  .spaced-xs {
    padding: 0 .5rem; }
  .spaced-lg {
    padding: 2rem 3rem; }

.no-overflow {
  overflow: hidden; }

@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

.is-primary {
  color: #0f3057; }
  .is-primary-bg {
    background: #0f3057;
    color: white; }

.is-white {
  color: #FFF; }
  .is-white-bg {
    background: #FFF;
    color: #0f3057; }

.is-legend {
  color: #777; }
  .is-legend-bg {
    background: #777;
    color: #FFF; }
