/*
GLOBAL LAYOUT STYLES
Regroup all views and define their structure.
*/
@import './variables.scss';
@import './mixins.scss';

::selection { background: $accent; color: $beige; }

::-webkit-scrollbar { width: 5px; z-index: 0;} /* scrollbar width */
::-webkit-scrollbar-track { border-radius: 10px; background-color: rgba($color: $beige, $alpha: .6) ; } /* Track */
::-webkit-scrollbar-thumb { background: $accent; border-radius: 10px; } /* Handle */
::-webkit-scrollbar-thumb:hover { background: $primary-light; } /* Handle on hover */

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #root, #app { min-height: 100%; }
#app { padding-top: 50px; }
.icon-svg { svg { fill: currentColor; width: 100%; } }
img, .icon-svg { width: 100%; }

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(ellipse farthest-corner at 90% 90%,rgb(0, 135, 189), rgb(15, 47, 87) 100%);
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
}

section.main-container {
    height: $main-container-height;
    width: 100%;
    padding-top: 40px;
    @include flex(column nowrap);
    section.tabs, .content {
        width: 100%;
        &.cols { flex-flow: column nowrap !important; &.start { justify-content: start; } }
        &.wrap { flex-wrap: wrap; align-content: center;}
    }
    section.tab {
        height: $secondary-container-height;
        @include flex(column, flex-start);
        overflow: hidden;
        overflow-y: auto;
        width: 100%;
        .Typist { margin: $pad-bottop-sm }
        .content {
            @include flex(row wrap, space-evenly);
            height: $tertiary-container-height;
        }
        ul.list {
            padding-bottom: .5rem;
            li{
                margin-top: .75rem;
                margin-left: 1.5rem;
                line-height: 2rem;
                font-weight: bold;
                list-style-type: disclosure-closed;
                width: 90%;
            }
        }
    }
}

.construction {
    width: 40vw;
    min-width: 300px;
    margin: 2rem auto;
    height: 250px;
    h1 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: $primary
    }
    p {
        padding: 1rem;
        color: $legend;
        a { color: $primary; border-bottom: 2px solid $primary;}
    }
}