/* GLOBAL LAYOUT STYLES */

::-moz-selection { background: #ee6f57; color: #f6f5f5; }
::selection { background: #ee6f57; color: #f6f5f5; }


::-webkit-scrollbar { width: 5px; } /* scrollbar width */
::-webkit-scrollbar-track { border-radius: 10px; background-color: #000 ; } /* Track */
::-webkit-scrollbar-thumb { background:white; border-radius: 10px; } /* Handle */
::-webkit-scrollbar-thumb:hover { background: lightgray; } /* Handle on hover */

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #root, #app { min-height: 100vh; }
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(-45deg, rgb(0, 135, 189) 0%, rgb(15,48,87) 100%);
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

#app {
    position: relative;
    padding-top: 50px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
}

nav#main-nav {
    top: 0;
    position: absolute;
    width: 100%;
    background: #FFF;
    height: 50px;
    padding: 0 2rem;
    z-index: 500;
    h3 {
        font-size: 2rem;
        span {
            max-width: 0;
            transition: all .6s ease;
            display: inline-block;
            overflow: hidden;
            vertical-align: bottom;
            opacity: 0;
            margin-right: 5px;
        }
        &:hover span{
            max-width: 250px;
            opacity: 1;
        }
    }
    .links {
        a.selected { font-weight: bold; }
        li {
            margin: 0 1rem;
            font-size: 1.25rem;
        }
    }
}
