.formations, .diplomes{
    width: 50%;
    h2 {
        font-size: 3rem;
        font-family: 'open24';
        color: #0f3057;
        margin-bottom: 1rem;
    }
    .card {
        margin: .25rem .5rem !important;
    }
    .chip { margin: 0 .5rem;}
}