.formations, .diplomes {
  width: 50%; }
  .formations h2, .diplomes h2 {
    font-size: 3rem;
    font-family: 'open24';
    color: #0f3057;
    margin-bottom: 1rem; }
  .formations .card, .diplomes .card {
    margin: .25rem .5rem !important; }
  .formations .chip, .diplomes .chip {
    margin: 0 .5rem; }
