.skill {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 1rem;
    aside {
        width: 20%;
        .skill-icon, svg {
            width: 100%;
            max-width: 48px;
            fill: rgb(15,48,87);
        }
    }
    .content {
        align-items: flex-start;
        display: flex;
        flex-flow: column nowrap;
        width: 70%;
        h3 {
            font-size: 1rem;
            color: rgb(15,48,87);
        }
        .infos {
            margin-top: .5rem;
            .icon-svg {
                height: 30px;
                margin-left: .5rem;
            }
            svg {
                width: 100%;
                max-width: 28px;
                fill: #444;
                &:first-of-type {
                    fill: ffe05d;
                }
            }
        }
    }
}