.skill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 1rem; }
  .skill aside {
    width: 20%; }
    .skill aside .skill-icon, .skill aside svg {
      width: 100%;
      max-width: 48px;
      fill: #0f3057; }
  .skill .content {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    width: 70%; }
    .skill .content h3 {
      font-size: 1rem;
      color: #0f3057; }
    .skill .content .infos {
      margin-top: .5rem; }
      .skill .content .infos .icon-svg {
        height: 30px;
        margin-left: .5rem; }
      .skill .content .infos svg {
        width: 100%;
        max-width: 28px;
        fill: #444; }
        .skill .content .infos svg:first-of-type {
          fill: ffe05d; }
