/* GLOBAL LAYOUT STYLES */
::-moz-selection {
  background: #b3ecf2;
  color: white; }

::selection {
  background: #b3ecf2;
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, #root, #app {
  min-height: 100vh; }

#app {
  position: relative;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }

.global-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap; }

.colored {
  fill: blue; }
