#experience-table {
  align-content: start; }
  #experience-table h4 {
    width: 100%;
    padding: 1rem 2rem; }
  #experience-table .table-wrapper {
    max-height: 80vh;
    overflow-x: scroll;
    padding-left: 3rem;
    animation: entrance 3s forwards ease; }
    #experience-table .table-wrapper li.card-wrapper {
      position: relative;
      width: 100%; }
      #experience-table .table-wrapper li.card-wrapper::before, #experience-table .table-wrapper li.card-wrapper::after {
        content: '';
        display: block;
        width: 5px;
        height: 27%;
        position: absolute;
        left: 0;
        background: white; }
      #experience-table .table-wrapper li.card-wrapper::before {
        top: 0; }
      #experience-table .table-wrapper li.card-wrapper::after {
        bottom: 0; }
      #experience-table .table-wrapper li.card-wrapper article.card {
        border-radius: 8px;
        padding: .25rem 1rem;
        margin: .85rem 2rem .85rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: #FFF;
        position: relative; }
        #experience-table .table-wrapper li.card-wrapper article.card aside.aside {
          position: absolute;
          left: -60px;
          top: 50%;
          color: white;
          width: 100px;
          transform: translate(-50%, -50%);
          text-align: center; }
        #experience-table .table-wrapper li.card-wrapper article.card section.card-content {
          width: 100%;
          opacity: 0;
          animation: fadeIn 1s forwards 2s; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content .header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-flow: row wrap; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content .header h5 {
              font-size: 1.8rem;
              color: #0f3057;
              font-family: 'poppins';
              flex: 1;
              text-align: left;
              letter-spacing: 1.5px; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content .location p {
            color: #333;
            padding-top: 5px;
            font-size: 1rem;
            text-align: right; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content .location p span {
              font-style: italic; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content .description {
            padding: .25rem .5rem;
            max-height: 0;
            overflow: hidden;
            transition: all 1.2s ease;
            text-justify: newspaper;
            opacity: 0; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content .description li {
              list-style-type: circle;
              padding-top: .5rem;
              padding-left: .5rem;
              margin-left: 1rem; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content footer {
            display: flex;
            align-items: center;
            justify-content: space-between; }
            #experience-table .table-wrapper li.card-wrapper article.card section.card-content footer .skill {
              margin-left: 1rem;
              color: #333; }
          #experience-table .table-wrapper li.card-wrapper article.card section.card-content:hover .description {
            max-height: 250px;
            padding-bottom: 1rem;
            opacity: 1; }
        #experience-table .table-wrapper li.card-wrapper article.card.accent {
          background: none;
          border: 2px solid white; }
          #experience-table .table-wrapper li.card-wrapper article.card.accent h5, #experience-table .table-wrapper li.card-wrapper article.card.accent p, #experience-table .table-wrapper li.card-wrapper article.card.accent span, #experience-table .table-wrapper li.card-wrapper article.card.accent li, #experience-table .table-wrapper li.card-wrapper article.card.accent strong, #experience-table .table-wrapper li.card-wrapper article.card.accent em {
            color: white !important; }

@keyframes entrance {
  0% {
    overflow: hidden;
    max-height: 0;
    width: 100px; }
  50% {
    max-height: 80vh;
    width: 100px;
    overflow: hidden; }
  99% {
    overflow: hidden; }
  100% {
    width: 100%; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
