nav.main-nav {
    top: 0;
    position: absolute;
    width: 100%;
    background: #FFF;
    height: 50px;
    padding: 0 2rem;
    h3 {
        font-size: 2rem;
        span {
            max-width: 0;
            transition: all .6s ease;
            display: inline-block;
            overflow: hidden;
            vertical-align: bottom;
            opacity: 0;
            margin-right: 5px;
        }
        &:hover span{
            max-width: 250px;
            opacity: 1;
        }
    }
    .links {
        a.selected { font-weight: bold; }
        li {
            margin: 0 1rem;
            font-size: 1.25rem;
        }
    }
}