#presentation {
    border-radius: 0;
    overflow: hidden;
    ul.react-tabs__tab-list {
        width: 100%;
        background: white;
        border: none;
        margin: 0;
        padding: 0 1.45rem;
        li {
            color: rgb(15,48,87);
            font-size: .85rem;
            line-height: 1.5rem;
            text-transform: uppercase;
            background: none;
            &.react-tabs__tab--selected {
                font-weight: bold;
                border: none;
                &:focus ::after{
                    background: none;
                }
            }
        }
    }
    .react-tabs__tab-panel--selected {
        width: 100%;
        height: 100%;
        max-width: 1024px;
    }
    .react-tabs__tab:focus {
        box-shadow: none;
        border: none;
    }
    .react-tabs__tab:focus::after {
        content: inherit;
    }
}