.socials {
    margin-top: 1rem;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    ul {
        display: flex;
        justify-content: space-evenly;
        padding-top: .5rem;
        svg {
            width: 32px;
            height: 32px;
            path {
                fill: white;
            }
        }
    }
}
